.form-edit-meme {
    width: 600px;
    margin: 0 auto;
}
.form-edit-meme input, .form-edit-meme button {
    border-radius: 4px;
    width: 80%;
}

.form-edit-meme input {
    border: 1px solid #ccc;
}

.form-edit-meme div{
    margin-bottom: 10px;
}
.form-edit-meme button {
    background-color: #333;
    color: white;
}

.choose-tag-selector {
    margin-top: 20px;
    width: 80%;
    /*margin: 0 auto;*/
}